In [1]:
import pandas as pd
data = [10,20,30,40]
series = pd.Series(data,index=['A','B','C','D'])
print("Series:")
print(series)
data_dict = {
    'Name' : ['alice','bob','char','david'],
    'age': [25,30,35,40],
    'city': ['new','lod','chic','hou']
}
df = pd.DataFrame(data_dict)
print("\nDataFrame:")
print(df)
df=pd.DataFrame( {
    'Name': ['alice','bob','char','david'],
    'age': [25,30,35,40],
    'city':['new','lod','chic','hou']
})

ages= df['age']
print("ages:")
print(ages)


row_0 = df.iloc[0]
print("\nRow 0:")
print(row_0)

row_label= df.loc[0]
print("\nRow with label:")
print(row_label)

filtered_df = df[df['age']>30]
print("\nFiltered Dataframe (Age>30):")
print(filtered_df)

filtered_city = df[df['city']== 'Chicago']
print("\nFiltered DataFrame (city is 'Chic'):")
print(filtered_city)

df['salary'] = [4000,8000,3000,4500]
print("\ndataframe with new column salary: ")
print(df)

df = df.drop('city',axis=1)
print("'city' column:")
print(df)

sorted_df = df.sort_values(by='age')
print("'age':")
print(sorted_df)

data_with_nan ={
    'Name' : ['alice','bob','','david'],
    'age': [25,None,35,40]
}
df_nan =pd.DataFrame(data_with_nan)
print("\ndataframe with missing values:")
print(df_nan)

df_nan_dropped = df_nan.dropna()
print("\ndata frame after dropping missing values:")
print(df_nan_dropped)

df1 = pd.DataFrame({
    'employeeID':[1,2,3],
    'Name':['alice','bob','char']
})
df2=pd.DataFrame({
    'employeeID':[1,2,4],
    'salary': [4000,8000,3000]
})
merged_df =pd.merge(df1,df2,on='employeeID')
print("\nmerged dataframe:")
print(merged_df)

Series:
A    10
B    20
C    30
D    40
dtype: int64

DataFrame:
    Name  age  city
0  alice   25   new
1    bob   30   lod
2   char   35  chic
3  david   40   hou
ages:
0    25
1    30
2    35
3    40
Name: age, dtype: int64

Row 0:
Name    alice
age        25
city      new
Name: 0, dtype: object

Row with label:
Name    alice
age        25
city      new
Name: 0, dtype: object

Filtered Dataframe (Age>30):
    Name  age  city
2   char   35  chic
3  david   40   hou

Filtered DataFrame (city is 'Chic'):
Empty DataFrame
Columns: [Name, age, city]
Index: []

dataframe with new column salary:
    Name  age  city  salary
0  alice   25   new    4000
1    bob   30   lod    8000
2   char   35  chic    3000
3  david   40   hou    4500
'city' column:
    Name  age  salary
0  alice   25    4000
1    bob   30    8000
2   char   35    3000
3  david   40    4500
'age':
    Name  age  salary
0  alice   25    4000
1    bob   30    8000
2   char   35    3000
3  david   40    4500

dataframe with missing values:
    Name   age
0  alice  25.0
1    bob   NaN
2         35.0
3  david  40.0

data frame after dropping missing values:
    Name   age
0  alice  25.0
2         35.0
3  david  40.0

merged dataframe:
   employeeID   Name  salary
0           1  alice    4000
1           2    bob    8000